.wrapper{
    justify-content: center;    
    display: flex;
}
.loginBox{
    border-radius: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 500px;
    height: auto;
    margin-top: 80px;
    
}
.form-wrapper{
    position: relative;
}
.form-wrapper i{
    position: absolute;
    right: 15px;
    top: 10px;
    color: lightgreen;
}

.login{
    text-align: center;
    margin-top: 50px;

}
.form-wrapper{
    margin: 20px;
}

.forgot{
    margin: 20px;
}